.grid {
  @apply pb-16;
}

.grid > div {
  padding-bottom: 34px;
  max-width: 320px;
  padding-top: 56px;
}

@screen sm {
  .grid {
    grid-template-columns: 1fr 12% 1fr;
    @apply gap-y-10;
  }

  .grid > div {
    max-width: none;
  }

  .grid > div:first-child:after {
    display: block;
  }

  .grid > div:nth-child(2n + 2):after {
    display: none;
  }
}

@screen md {
  .grid {
    grid-template-columns: 1fr 16% 1fr;

    @apply place-items-center;
  }

  .grid > div {
    width: 100%;
    height: 320px;
    padding-bottom: 44px;
  }
}

@screen lg {
  .grid {
    grid-template-columns: 1fr 8% 1fr 8% 1fr;
    @apply gap-y-20;

  }

  .grid > div {

  }
}

@screen xl {
  .grid > div {
    padding-top: 70px;
    height: 360px;
  }
}

@screen 2xl {
  .grid {
    @apply gap-y-28;
  }
  .grid > div {
    padding-top: 104px;
    padding-bottom: 71px;
    height: 400px;
    /* max-width: 374px; */
  }
}
