@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  @apply font-body;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.min {
  min-height: min(1080px, 100vh);
}


.swiper-pagination {
  @apply mt-2 lg:mt-8 text-left relative z-20 !important;
}

.swiper-pagination-bullet {
  @apply h-1 2xl:w-14 w-5 md:w-8 rounded-none ml-0 mr-2 lg:mr-4 bg-gray-500 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-yellow w-10 2xl:w-16 !important;
}

.swiper-button-disabled {
  @apply opacity-50 cursor-not-allowed;
}